@model Fiap.Exemplo01.Web.MVC.Models.Funcionario

@{
    ViewBag.Title = "Gravar";
}

<h2>Dados enviados</h2>
<h3>@ViewBag.nome</h3>
<h3>@ViewBag.data</h3>
<h3>@ViewBag.salario</h3>

<h2>@Model.Nome</h2>
<h2>@Model.Salario</h2>
<h2>@Model.Data</h2>


